<!DOCTYPE html>
<html ng-app="myApp" lang="kr">
<head>
  <meta charset="utf-8">
  <meta name="naver-site-verification" content="df4b6c80662db27aae54ce8d43592325b72a5c4a"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>GOLFDIC</title>
  
  <link href="favicon.ico" rel="shortcut icon">
  <link href="lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/media.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="lib/js/bootstrap.min.js"></script>
  <script src="js/Controller.js"></script>
</head>

<body data-spy="scroll" data-target="#navbar" ng-controller="myCtrl">
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="img/web_01.png">
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#info">GOLFDIC 소개</a>
          </li>
          <li>
            <a href="#first-service">서비스</a>
          </li>
          <li>
            <a href="#contact">고객센터</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-wrap">
    <section id="info" class="info-wrap">
      <div class="info-content">
        <div class="left-wrap">
          <img src="img/web_02.png">
        </div>
        <div class="right-wrap">
          <div class="text-wrap">
            <p class="title-text">
              <img class="logo" src="img/web_11.png">은?<br />
              <span class="positive">'골프관련 리뷰 및 정보 공유서비스'</span> 입니다.
            </p>
            <p class="desc-text">
              자주 가는 골프장, 내가 쓰는 골프클럽과 골프공의 평가를 다른 플레이어들과 공유하고 비교해보세요. 우리가 만들어가는 골프백과사전. 이제 GOLFDIC으로 새로운 골프를 경험하세요!
            </p>
          </div>
          <div class="btn-wrap">
            <a class="btn-playStore">
              <img src="img/web_03.png">
            </a>
            <a class="btn-appStore">
              <img src="img/web_04.png">
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="first-service" class="first-service-wrap">
      <div class="first-service-content">
        <div class="right-wrap">
          <img src="img/web_05.png">
        </div>
        <div class="left-wrap">
          <div class="text-wrap">
            <p class="title-text">
              01<br />
              <span class="positive">나의 골프일지</span>를 작성하고 내 스코어의 변화를 SNS에 공유해보세요!
            </p>
            <p class="desc-text">
              그 날의 라운딩 기록을 바로바로 남겨놓고 확인해보세요. Best Score를 기록한 날이라면 SNS 공유는 필수!<br />
              사진, 날짜, 동반자, 스코어 기입은 물론 그 날의 실수나 베스트샷, 개선점 등을 간단히 메모하실 수 있습니다.<br />
              또한 작성한 내용들을 기반으로 나의 각종 골프 통계 또한 확인 가능합니다.<br />
              페이스북, 카카오톡 등 SNS에 나의 라운딩 기록을 공유해보세요!
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="second-service" class="second-service-wrap">
      <div class="second-service-content">
        <div class="left-wrap">
          <img src="img/web_06.png">
        </div>
        <div class="right-wrap">
          <div class="text-wrap">
            <p class="title-text">
              02<br />
              <img class="logo" src="img/web_11.png">에서 각종 리뷰를 그래프로 한눈에 보기쉽게 제공받으세요.
            </p>
            <p class="desc-text">
              480여개 골프장, 3,000여종의 골프클럽, 200여종의 골프공에 대한 사용자 리뷰를 그래프로 표시하여<br />
              일목요연하게 제공해 드립니다.<br />
              (추후 중국, 일본, 동남아 골프장도 업데이트 예정입니다)
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="third-service" class="third-service-wrap">
      <div class="third-service-content">
        <div class="right-wrap">
          <img src="img/web_07.png">
        </div>
        <div class="left-wrap">
          <div class="text-wrap">
            <p class="title-text">
              03<br />
              <span class="light-positive">'랭킹/투표/이벤트'</span>에 참여하시고 재미있는 정보를 확인해보세요.
            </p>
            <p class="desc-text">
              매달 업데이트되는 각종 골프 랭킹도 확인하고, 다양한 주제의 투표와 각종 이벤트에 참여하여 결과를 확인해보세요.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="contact-wrap">
      <div class="contact-content">
        <div class="right-wrap">
          <div class="text-wrap">
            <p class="title-text">
              <span class="title">
                광고 문의, 제휴 신청, 데이터 오류 신고, 데이터 정정 신청, 이용시 개선사항, 궁금한 점
              </span>
              우리가 만들어가는 골프 백과사전 <img class="logo" src="img/web_11.png">은 여러분의 소중한 의견을 기다립니다.
            </p>
            <p class="desc-text">
              GOLFDIC을 위한 다양한 의견을 보내주세요.
            </p>
          </div>
        </div>
        <div class="left-wrap">
          <p class="positive">Contact Us</p>
          <div class="form-wrap">
            <input type="text" placeholder="이름(업체명)" ng-model="name">
            <input type="email" name="email" placeholder="이메일" autocomplete="on" ng-model="mail">
            <input type="text" placeholder="연락처" ng-model="tel">
            <input type="text" placeholder="제목" ng-model="title">
            <textarea placeholder="GOLFDIC에게 전할 말을 입력해주세요" ng-model="content"></textarea>
            <button ng-click="sendPost()">보내기</button>
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer>
    <div class="tel-wrap">
      <div class="phone">
        <span class="glyphicon glyphicon-earphone"></span>
        <p>010-8020-8550</p>
      </div>
      <div class="address">
        <span class="glyphicon glyphicon-map-marker"></span>
        <p>
          서울시 강서구 양천로 401 강서한강자이타워 A동 305-1호<br />
          (지번주소 서울시 강서구 가양동 1498 강서한강자이타워 A동 305-1호)
        </p>
      </div>
      <div class="mail">
        <span class="glyphicon glyphicon-envelope"></span>
        <p>master@golfdic.com</p>
      </div>
    </div>
    <p class="copyright-wrap">
      골딕 | 대표 : 임상준 | 사업자번호 : 138-87-00062<br />
      GOLFDIC ⓒ 2015 - All rights reserved
    </p>
  </footer>
</body>
</html>
